# Idea #
.idea
log/
*.iml
*.log

# Gradle #
.gradle/

# Build #
target/
build/

# Web #
.yarn
.pnp.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

*.suo
*.ntvs*
*.njsproj
*.sw?

*.tsbuildinfo

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Output #
___output/

# Shell #
__pycache__/

# cicd
.jenkins